 <!--コメント入力部分-->
        
                                    
          <!--コメント表示部分-->
          <% comments.each do |comments| %>
          <th>
           <td><p><%= link_to attachment_image_tag(comments.user, :profile_image, size: "60x60" , fallback: "no_image.jpg"),user_path(comments.user)%><br/>
            <%= comments.user.name %></p></td>
            <td><%= comments.content %></td>
            <td><%= link_to "削除",book_comment_path(book,comments.id),method: :delete,remote: true %></td>
          </th>
          <% end %>
             <%= form_with(model:[book,comment],remote:true) do |comment| %>
          <th> 
          　<%= comment.text_area :content %>
            <%= comment.submit"決定"%>
            <% end %>
             </th>
          
          
 